<% content_for :navbar do %>
    <%= navbar_book_options(book: @book, page: true, page_id: @page.id, book_id: @page.book_id) %>
<% end %>

<% content_for :body_page_class, "body-grid-change" %>

<% content_for :toolbar do %>
    <%= toolbar_options(edit: true, page_type: @page.page_type) %>
<% end %>

<%= form_with(model: @page, local: true, url:book_page_path(@page.book_id, @page), method: :patch) do |f| %>
    <%= render "shared/errors", resource: @page %>
    <%= f.hidden_field :main_title %>

    <%= f.submit id:'submit_page', style: 'display:none;' %>

    <section class='page-editor-container edit-page'>

        <% case @page.page_type %>
        <% when "image" %>

            <figure data-controller="previewimage" class='page-image-edit'>
                <%= image_tag @page.page_image.attached? ? @page.page_image : "https://placehold.co/600x400?text=Image", data: { action: "click->previewimage#clickOnFileField",  previewimage_target: "preview" }, class: "image-page-upload" %>
                <%= f.file_field :page_image, class: "image-page-upload-input", data: { previewimage_target: "input", action: "change->previewimage#previewImage" } %>

                <figcaption>
                    <%= simple_format @page.image_caption %>
                </figcaption>
            </figure>

        <% when "title" %>
    
            <div class='page-editor page-title'>
                <%= f.text_area :section_header, size: "70x5", class: "section_header_input" %>
            </div>

        <% when "text" %>
        
            <!--Custom tag-->
            <%= f.markdown_area :content,  class: "main-editor" %>
            <!--Custom tag-->

        <% else %>
            <span>Type of page not recognized.</span>
        <% end %>
    </section>
<% end %>

<% content_for :footer do %>
    <%= render 'pages/navigation', page: @page, for_edit: true %>
<% end %>

<script> 
    document.addEventListener('DOMContentLoaded', (event) => {
        const navInput = document.getElementById('page_main_title_nav')
        const hiddenInput = document.getElementById('page_main_title')
        const labelInput = document.querySelector('.input-sizer')

        if(navInput && hiddenInput.value !== ''){
            navInput.value = hiddenInput.value; // Set initial value

            // This is so that the input grow to the size of the text inside when the edit page loads
            labelInput.dataset.value = hiddenInput.value
        }

        navInput.addEventListener('input', function() {
            hiddenInput.value = navInput.value;
        });

    });

</script>
