<% content_for :navbar do %>
    <%= navbar_book_options(book: @book, page: true, page_id: @page.id, book_id: @page.book_id) %>
<% end %>


<%= form_with(model: @page, local: true, url:book_page_path(@page.book_id, @page), method: :patch) do |f| %>
    <%= render "shared/errors", resource: @page %>

    <%= f.hidden_field :main_title %>

    <section class='page-editor-container edit-page'>

        <%= toolbar_options(edit: true) %>

        <% case @page.page_type %>
        <% when "image" %>

            <figure class='page-image-show'>
                <%= image_tag @page.page_image.attached? ? @page.page_image : "https://placehold.co/600x400?text=Image", id: "image-replace", class: "image-page-upload", onclick: "clickOnFileField();" %>
                <%= f.file_field :page_image, class: "image-page-upload-input", onchange: "previewImage(this);" %>

                <figcaption>
                    <%= simple_format @page.image_caption %>
                </figcaption>
            </figure>

        <% when "title" %>
    
            <div class='page-editor page-title'>
                <%= f.text_area :section_header, size: "50x10", class: "section_header_input" %>
            </div>

        <% when "text" %>

            <div class='page-editor'>
                <textarea class='main-arkdown-editor'></textarea>
            </div>

        <% else %>
            <span>Type of page not recognized.</span>
        <% end %>
    </section>
<% end %>

<% content_for :footer do %>
    <%= render 'pages/navigation', page: @page, for_edit: true %>
<% end %>

<script> 
    document.addEventListener('DOMContentLoaded', (event) => {
        const navInput = document.getElementById('page_main_title_nav')
        const hiddenInput = document.getElementById('page_main_title')
        const labelInput = document.querySelector('.input-sizer')

        if(navInput && hiddenInput.value !== ''){
            navInput.value = hiddenInput.value; // Set initial value

            // This is so that the input grow to the size of the text inside when the edit page loads
            labelInput.dataset.value = hiddenInput.value
        }

        navInput.addEventListener('input', function() {
            hiddenInput.value = navInput.value;
        });

    });

    function clickOnFileField(){
        document.getElementById('page_page_image').click()
    }

    function previewImage(input){
        if(input.files && input.files[0]){
            const r = new FileReader()
            const file = input.files[0]

            if(!file.type.startsWith('image/')){
                return
            }

            r.onload = function(e) {
                const preview = document.getElementById('image-replace')
                preview.src = e.target.result
            }

            r.readAsDataURL(file)
        }
    }
</script>
