<% content_for :navbar do %>
    <%= navbar_book_options(book: @book, hide_input: true, page: true, page_id: @page.id) %>
<% end %>

<% content_for :body_page_class, "body-grid-change" %>

<% content_for :toolbar do %>
    <%= toolbar_options(edit: false) %>
<% end %>


<section class='page-editor-container show-page'>

    <% case @page.page_type %>
    <% when "image" %>

        <figure class='page-image-show'>
            <% if @page.page_image.attached? %>
                <%= image_tag @page.page_image, alt: "Image of the current page" %>
            <% else %>
                <%= image_tag "https://placehold.co/600x400?text=Image", alt: "No image uploaded" %>
            <% end %>

            <figcaption>
                <%= simple_format @page.image_caption %>
            </figcaption>
        </figure>

    <% when "title" %>
    
        <div class='page-editor page-title text-medium-responsive'>
            <h1>
                <%= simple_format @page.section_header.blank? ? "Section" : @page.section_header %>
            </h1>
        </div>

    <% when "text" %>
        <div class='text-content'>
            <%= sanitize_content markdown_to_html(@page.content) %>
        </div>

    <% else %>
        <span>Type of page not recognized.</span>
    <% end %>
</section>

<% content_for :footer do %>
    <%= render 'pages/navigation', page: @page, for_edit: false %>
<% end %>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const navInput = document.getElementById('page_main_title_nav');
        if(navInput){
            navInput.value = '<%= @page.main_title %>'
        }
    })
</script>

