<section class='edit-book_info-container'>

    <div class='edit-book_info-image'>
        <% if @book.cover_image.attached? %>
            <%= image_tag @book.cover_image, alt: "Image of the current book", size: "210x290"  %>
        <% else %>
            <%= image_tag('placeholder_book_edit_info.svg', id: "image-book-replace") %>
        <% end %>
    </div>

    <div class='edit-book_info-form'>
        <%= form_with(model: @book, local:true, html: { multipart: true }, class: "book-initial-form") do |f| %>
            <%= render "devise/shared/error_messages", resource: @book %>

            <div class="field">
                <%= f.label :title, class: "book-title-label" %><br />
                <%= f.text_area :title, size: "30x3", class: "title-subtitle-book-textarea" %>
            </div>

            <div class="field">
                <%= f.label :subtitle, class: "book-subtitle-label" %><br />
                <%= f.text_area :subtitle, size: "30x3", class: "title-subtitle-book-textarea" %>
            </div>

            <div class="field book-image-cover-create">

                <% if action_name == 'Update book/document' %>
                    <%= f.label "Add or change the cover image", class: "book-subtitle-label" %><i>(Not required)</i><br />
                <% else %>
                    <%= f.label "Add a cover image", class: "book-subtitle-label" %><i>(Not required)</i><br />
                <% end %>

                <%= f.file_field :cover_image, onchange: "previewImage(this);" %><br>
            </div>

            <br />
            <div class="actions">
                <%= f.submit action_name %>
            </div>
            <br />
        <% end %>
    </div>

</section> 

<script>
    function previewImage(input){
        if(input.files && input.files[0]){
            const r = new FileReader()
            const file = input.files[0]

            if(!file.type.startsWith('image/')){
                return
            }

            r.onload = function(e) {
                const preview = document.getElementById('image-book-replace')
                preview.src = e.target.result
            }

            r.readAsDataURL(file)
        }
    }
</script>