<section data-controller="previewimage" class='edit-book_info-container'>

    <div class='edit-book_info-image'>
        <%= image_tag 'placeholder_book_edit_info.svg', size: "320x440" , data: { action: "click->previewimage#clickOnFileField",  previewimage_target: "preview" } %>
    </div>

    <div class='edit-book_info-form'>
        <%= form_with(model: @book, local:true, html: { multipart: true }, class: "book-initial-form") do |f| %>
            <%= render "devise/shared/error_messages", resource: @book %>

            <div class="field">
                <%= f.text_field :title, placeholder: "Title",  class: "" %>
            </div>

            <div class="field">
                <%= f.text_area :subtitle, placeholder: "Subtitle", size: "40x2", class: "title-subtitle-book-textarea" %>
            </div>

            <div class="field">
                <%= f.text_field :author, placeholder: "Author" %>
            </div>

            <div class="field book-image-cover-create">
                <%= f.file_field :cover_image, data: { previewimage_target: "input", action: "change->previewimage#previewImage" } %><br>
            </div>

            <br />
            <div class="actions">
                <%= f.submit action_name %>
            </div>
            <br />
        <% end %>
    </div>

</section> 
