<section data-controller="previewimage" class='edit-book_info-container'>

    <div class='edit-book_info-image'>
        <% if @book.cover_image.attached? %>
            <%= image_tag @book.cover_image, alt: "Image of the current book", data: { action: "click->previewimage#clickOnFileField",  previewimage_target: "preview" }, size: "210x290"  %>
        <% else %>
            <%= image_tag 'placeholder_book_edit_info.svg', data: { action: "click->previewimage#clickOnFileField",  previewimage_target: "preview" }  %>
        <% end %>
    </div>

    <div class='edit-book_info-form'>
        <%= form_with(model: @book, local: true, url:update_edit_info_book_path(@book), method: :patch,  class: "book-initial-form") do |f| %>
            <%= render "devise/shared/error_messages", resource: @book %>

            <div class="field">
                <%= f.label :title, class: "book-title-label" %><br />
                <%= f.text_area :title, size: "30x3", class: "title-subtitle-book-textarea" %>
            </div>

            <div class="field">
                <%= f.label :subtitle, class: "book-subtitle-label" %><br />
                <%= f.text_area :subtitle, size: "30x3", class: "title-subtitle-book-textarea" %>
            </div>

            <div class="field book-image-cover-create">
                <%= f.file_field :cover_image, data: { previewimage_target: "input", action: "change->previewimage#previewImage" } %><br>
            </div>

            <br />
            <div class="actions">
                <%= f.submit action_name %>
            </div>
            <br />

        <% end %>

    </div>
    <div><%= button_to "Delete book/document", book_path(@book), data: { confirm: "Are you sure?", turbo_confirm: "This is not a destructive action | You will be able to reactivate the book later, just use the filter in your library"}, method: :delete , class: "delete-book-button" %></div>

</section>
