<section data-controller="previewimage" class='edit-book_info-container'>

    <div class='edit-book_info-image'>
        <% if @book.cover_image.attached? %>
            <%= image_tag @book.cover_image, size: "320x440", alt: "Placeholder image for book cover", data: { action: "click->previewimage#clickOnFileField",  previewimage_target: "preview" }  %>
        <% else %>
            <%= image_tag 'placeholder_book_edit_info.svg', size: "320x440", data: { action: "click->previewimage#clickOnFileField",  previewimage_target: "preview" }  %>
        <% end %>
    </div>

    <div class='edit-book_info-form'>
        <%= form_with(model: @book, local: true, url:update_edit_info_book_path(@book), method: :patch,  class: "book-initial-form") do |f| %>
            <%= render "devise/shared/error_messages", resource: @book %>

            <div class="field">
                <%= f.text_field :title, placeholder: "Title",  class: "" %>
            </div>

            <div class="field">
                <%= f.text_area :subtitle, placeholder: "Subtitle", size: "40x2", class: "title-subtitle-book-textarea" %>
            </div>

            <div class="field">
                <%= f.text_field :author, placeholder: "Author",  class: "" %>
            </div>

            <div class="field book-image-cover-create">
                <%= f.file_field :cover_image, data: { previewimage_target: "input", action: "change->previewimage#previewImage" } %><br>
            </div>

            <br />
            <div class="actions">
                <%= f.submit action_name %>
                <%= button_to "Delete book/document", book_path(@book), data: { confirm: "Are you sure?", turbo_confirm: "This is not a destructive action | You will be able to reactivate the book later, just use the filter in your library"}, method: :delete , class: "delete-book-button" %>
            </div>
            <br />

        <% end %>

    </div>
    <div></div>

</section>
