<h1>Fill out your book title and subtitle</h1>

<%= form_with(model: @book, local:true, class: "book-initial-form") do |f| %>
    <%= render "devise/shared/error_messages", resource: @book %>

    <div class="field">
        <%= f.label :title, class: "book-title-label" %><br />
        <%= f.text_area :title, size: "30x3", class: "title-subtitle-book-textarea" %>
    </div>

    <div class="field">
        <%= f.label :subtitle, class: "book-subtitle-label" %><br />
        <%= f.text_area :subtitle, size: "30x3", class: "title-subtitle-book-textarea" %>
    </div>

    <div class="field book-image-cover-create">
        <%= f.label "Add a cover image", class: "book-subtitle-label" %><i>(Not required)</i><br />
    
        <%= f.file_field :cover_image %><br>
    </div>

    <br />
    <div class="actions">
        <%= f.submit "Create book/document" %>
    </div>
    <br />

<% end %>
