<% content_for :navbar do %>
    <%= navbar_book_options(should_return_to: books_path, page: false) %>
<% end %>

<% content_for :title, "#{@book.title}"  %>


<section class='book-edit-section'>

    <div class='book-edit-aside' data-controller='openimage'>
        <% if @book.cover_image.attached? %>
            <%= image_tag @book.cover_image, class: 'book-edit-aside-img', alt: "Image of the current book", data: {
                action: 'click->openimage#open'
            } %>
        <% else %>
            <%= image_tag 'placeholder_book_edit.svg' %>
        <% end %>
    </div>

    <div class='book-edit-side'>
        <div class='book-edit-header'>
            <h1 class='text-xlarge-responsive'><%= @book.title %></h1>
            <h3 class='text-large-responsive'><%= @book.subtitle %></h3>
            <span class='author text-medium-responsive'><%= @book.author %><span>
        </div>

        <div class='book-edit-actions  '>
            <div class='book-edit-actions-crud'>
                <%= button_to "<i class='fa-solid fa-file-lines'></i>".html_safe, book_pages_path(@book), data: { turbo_method: :post }, params: {page: {page_type: "text"}}, class: "book-action-create-page", title: "Create new content page" %>
                <%= button_to "<i class='fa-solid fa-file-image'></i>".html_safe, book_pages_path(@book), data: { turbo_method: :post }, params: {page: {page_type: "image"}}, class: "book-action-create-page", title: "Create new image page" %>
                <%= button_to "<i class='fa-solid fa-heading'></i>".html_safe, book_pages_path(@book), data: { turbo_method: :post }, params: {page: {page_type: "title"}}, class: "book-action-create-page", title: "Create new title page" %>
            </div>

            <div class='PLACEHOLDER_DIV_FOR_LAYOUT'>
            </div>
        </div>
        <% if @book.has_active_pages? %>
            <div class='book-pages'>
                <% @pages.each do |p| %> 
                    <div class='book-page-container'>
                        <div class='book-page <%= 'remove-padding' if p.is_page_image? %>' data-controller='editpage' data-action="click->editpage#openPageEdit" data-id='<%= p.slug %>' data-book-id='<%= @book.slug %>'>
                            <% if p.page_image.attached? && p.is_page_image?  %>
                                <%= image_tag p.page_image,  loading: "lazy", class: "img"  %>
                                
                            <% elsif !p.page_image.attached? && p.is_page_image? %>
                                <%= image_tag 'placeholder_book_index.svg',  loading: "lazy"  %>

                            <% elsif p.page_type == 'title' %>
                                <%= tag.span(simple_format(p.section_header), class: "center-text bold section-header text-medium-responsive") if p.section_header? %> 

                            <% elsif p.page_type == 'text' %>
                                <%= sanitize_content p.html_preview %>
                                
                            <% end %>
                        </div>

                        <div class='page-title-section'>
                            <% if p.page_type == 'title' %>
                                <h3 class='overflow-ellipsis text-medium-responsive' title='<%= p.section_header %>'><%= p.section_header %></h3>
                            <% else %>
                                <h3 class='overflow-ellipsis text-medium-responsive' title='<%= p.main_title %>'><%= p.main_title %></h3>
                            <% end %>  
                        </div>

                        <div class='page-word-count'>
                            <% if p.page_type == 'text' %>
                                <%= word_count(p.content) %>
                            <% end %>  
                        </div>
                    </div>
                <% end %>   
            </div>         
        <% else %>
            <h5 style='text-align:left;'><i class="fa-solid fa-arrow-up"></i> No pages yet. Create one using the buttons above</h5>
        <% end %>            
        </div>
    </div>

</section>
