<% content_for :navbar do %>
    <%= render 'layouts/nav_book', should_return_to: books_path, page: false %>
<% end %>


<section class='book-edit-section'>

    <div class='book-edit-cover-side'>
        <% if @book.cover_image.attached? %>
            <%= image_tag @book.cover_image, alt: "Image of the current book", size: "210x290"  %>
        <% else %>
            <%= image_tag('placeholder_book_edit.svg') %>
        <% end %>
    </div>

    <div class='book-edit-side'>
        <div class='book-edit-header'>
            <h1><%= @book.title %></h1>
            <h3><%= @book.subtitle %></h3>
            <span class='author'><%= @book.user.first_name + " " + @book.user.last_name %><span>
        </div>

        <div class='book-edit-actions  '>
            <div class='book-edit-actions-crud'>
                <%= button_to "<i class='fa-solid fa-file-lines'></i>".html_safe, book_pages_path(@book), data: { turbo_method: :post }, params: {page: {page_type: "text"}}, class: "book-action-create-text-page", title: "Create new content page" %>
                <%= button_to "<i class='fa-solid fa-file-image'></i>".html_safe, book_pages_path(@book), data: { turbo_method: :post }, params: {page: {page_type: "image"}}, class: "book-action-create-text-page", title: "Create new image page" %>
                <%= button_to "<i class='fa-solid fa-heading'></i>".html_safe, book_pages_path(@book), data: { turbo_method: :post }, params: {page: {page_type: "title"}}, class: "book-action-create-text-page", title: "Create new title page" %>
            </div>

            <div class='book-edit-actions-layout'>
                <%= button_to "<i class='fa-solid fa-list'></i>".html_safe, '', data: { turbo_method: :get }, class: "book-action-create-text-page" %>
                <%= button_to "<i class='fa-solid fa-table-cells'></i>".html_safe, '', data: { turbo_method: :get }, class: "book-action-create-text-page" %>
            </div>

            <div class=''>
            </div>
        </div>
        <% if @book.pages.any? %>
            <div class='book-pages'>
                    <% @book.pages.each do |p| %> 
                        <div class='book-page' data-controller='editpage' data-action="click->editpage#openPageEdit" data-id='<%= p.id %>' data-book-id='<%= p.book_id %>'>
                            <div class='book-img-section'>

                                <% if p.page_image.attached? %>
                                    <div class='book-index-cover_image'>
                                        <%= image_tag p.page_image, size: "160x210",  loading: "lazy"  %>
                                    </div>
                                <% else %>
                                    <%= image_tag 'placeholder_book_index.svg', size: "160x210",  loading: "lazy"  %>
                                <% end %>

                            </div>

                            <div class='page-title-section'>
                                <h3 title='<%= p.main_title %>'><%= truncate(p.main_title, length: 15, omission: ' ...') + " " + p.page_type  %></h3>
                            </div>
                        </div>
                    <% end %>            
        <% else %>
            <h5 align="center" style='margin-top:8rem;'>No pages yet. Create one using the buttons above</h5>
        <% end %>            
        </div>
    </div>

</section>
