<h1>Library</h1>

<% content_for :title, "Library | Documenter"  %>

<section class='books-index'>
    <div class='book-index-actions'>
        <% if !@any_books %>
            <%= button_to "Create my first book", new_book_path, method: :get, class: "first-book-button" %>
        <% else %>
            <%= toolbar_book_index_options() %>
        <% end %>
    </div>

    <br/>

    <div class='books-container'>
        <% @books.each do |b| %> 
            <div class='book' data-controller='editbook' data-action="click->editbook#openBookEdit" data-id='<%= b.id %>'>
                <div class='book-title-section'>
                    <h2 title='<%= b.title %>'><%= truncate(b.title, length: 27, omission: ' ...')  %></h2>
                    <h3 title='<%= b.subtitle %>'><%= b.subtitle? ? truncate(b.subtitle, length: 28, omission: ' ...') : "&#8205;".html_safe  %></h3>
                </div>

                <div class='book-img-section'>

                    <% if b.cover_image.attached? %>
                        <%= image_tag b.cover_image,  loading: "lazy"  %>
                    <% else %>
                        <%= image_tag 'placeholder_book_index.svg' %>
                    <% end %>
                </div>

                <div class="book-timestamps">
                    <span><span class='timestamp-created'>Created at:</span> <%= time_ago_in_words(b.created_at)%> ago</span>
                    <span><span class='timestamp-updated'>Last edit:</span> <%= time_ago_in_words(b.updated_at)%> ago</span>
                </div>

                <div class='book-actions'>
                    <hr />
                </div>
            </div>
        <% end %>
    </div>

</section>


<script>
    function toggle_book_filter(){
        let book_filter_toggle = document.getElementById('book_filter_toggle')
        let books_filter_container = document.getElementsByClassName('book-filter-options')[0]

        if(books_filter_container.classList.contains('book-filter-options-active')){
                books_filter_container.classList.remove('book-filter-options-active')
        } else {
            books_filter_container.classList.add('book-filter-options-active')
        }
    }
</script>