<h1>My stuff</h1>

<section class='books-index'>

    <div class='book-index-actions'>
        <% if !@any_books %>
            <%= button_to "Create my first book", new_book_path, method: :get, class: "first-book-button" %>
        <% else %>
            <div class='book-index-buttons'>
                <%= button_to "Create a new book", new_book_path, method: :get, class: "first-book-button" %>
                <%= button_to "Delete in bulk", new_book_path, method: :get, class: "bulk-delete-books" %>
            </div>
        <% end %>
    </div>

    <br/>

    <div class='books-container'>
        <% @books.each do |b| %> 
            <div class='book' data-controller='editbook' data-action="click->editbook#openBookEdit" data-id='<%= b.id %>'>
                <div class='book-title-section'>
                    <h2 title='<%= b.title %>'><%= truncate(b.title, length: 20, omission: '...')  %></h2>
                    <h3 title='<%= b.subtitle %>'><%= truncate(b.subtitle, length: 20, omission: '...')  %></h3>
                    <hr />
                </div>
                <div class='book-img-section'>

                    <img src='https://placehold.co/180x230'>

                    <div class="book-timestamps">
                        <span><span class='timestamp-created'>Created at:</span> <%= time_ago_in_words(b.created_at)%> ago</span>
                        <span><span class='timestamp-updated'>Updated at:</span> <%= time_ago_in_words(b.updated_at)%> ago</span>
                    </div>

                </div>

                <div class='book-actions'>
                    <hr />
                    <div class='book-actions-links'>
                        <!-- just add the = to the link_to below to reactivate the buttons in this page> -->
                        <% link_to "<i class='fa-solid fa-file-pen'></i>".html_safe, edit_book_path(b), data: { turbo_method: :delete }, class: "book-action-edit" %>
                        <% link_to "<i class='fa-solid fa-xmark'></i>".html_safe, book_path(b), data: { turbo_method: :delete }, class: "book-action-delete" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

</section>
