<h1>My stuff (add pagination later)</h1>

<section class='books-index'>

    <div class='book-index-actions'>
        <% if !@any_books %>
            <%= button_to "Create my first book", new_book_path, method: :get, class: "first-book-button" %>
        <% else %>
            <div class='book-index-buttons'>
                <!-- I HAVE TWO STYLES OF BUTTONS HERE (MAKE AVAILABLE WITH AN OPTION FOR THE USER)  -->

                <%= link_to "<i style='font-size:30px; color:var(--accent);' class='fa-solid fa-file-circle-plus'></i>".html_safe, new_book_path, method: :get, class: "reset_book_actions_css" %>
                <%= link_to "<i style='font-size:30px; color:red;' class='fa-solid fa-trash-can'></i>".html_safe, new_book_path, method: :get, class: "reset_book_actions_css" %>
                <a onclick="toggle_book_filter()" id='book_filter_toggle' class='reset_book_actions_css' ><i style='color:grey !important; font-size:30px;' class="fa-solid fa-filter"></i></a>
                

                <%
=begin%>
 <%= button_to "<span><i class='fa-solid fa-file-circle-plus'></i> Create</span>".html_safe, new_book_path, method: :get, class: "first-book-button" %>
                <%= button_to "<span><i class='fa-solid fa-trash-can'></i> Delete in bulk</span>".html_safe, new_book_path, method: :get, class: "bulk-delete-books" %>
                <button onclick="alert('aa')" type='button', class="book-index-filters-button">
                    <i class="fa-solid fa-filter"></i> Show filters
                </button>  
<%
=end%>

            </div>

            <div class='book-filter-options'>

                <div>
                    <label>Search by Title/Subtitle</label>
                    <input type='search' />
                </div>
                <div>
                    <label>Active/Inactive</label>
                    <select>
                        <option>Active Books/Documents</option>
                        <option>Inactive Books/Documents</option>
                    </select>
                </div>

            </div>
        <% end %>
    </div>

    <br/>

    <div class='books-container'>
        <% @books.each do |b| %> 
            <div class='book' data-controller='editbook' data-action="click->editbook#openBookEdit" data-id='<%= b.id %>'>
                <div class='book-title-section'>
                    <h2 title='<%= b.title %>'><%= truncate(b.title, length: 26, omission: ' ...')  %></h2>
                    <h3 title='<%= b.subtitle %>'><%= truncate(b.subtitle, length: 21, omission: ' ...')  %></h3>
                </div>
                <div class='book-img-section'>

                    <% if b.cover_image.attached? %>
                        <div class='book-index-cover_image'>
                            <%= image_tag b.cover_image, size: "180x230",  loading: "lazy"  %>
                        </div>
                    <% else %>
                        <%= image_tag('placeholder_book_index.svg') %>
                    <% end %>

                    <div class="book-timestamps">
                        <span><span class='timestamp-created'>Created at:</span> <%= time_ago_in_words(b.created_at)%> ago</span>
                        <span><span class='timestamp-updated'>Last edit:</span> <%= time_ago_in_words(b.updated_at)%> ago</span>
                    </div>

                </div>

                <div class='book-actions'>
                    <hr />
                    <div class='book-actions-links'>
                        <!-- just add the = to the link_to below to reactivate the buttons in this page> -->
                        <% link_to "<i class='fa-solid fa-file-pen'></i>".html_safe, edit_book_path(b), data: { turbo_method: :delete }, class: "book-action-edit" %>
                        <% link_to "<i class='fa-solid fa-xmark'></i>".html_safe, book_path(b), data: { turbo_method: :delete }, class: "book-action-delete" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

</section>


<script>
    function toggle_book_filter(){
        let book_filter_toggle = document.getElementById('book_filter_toggle')
        let books_filter_container = document.getElementsByClassName('book-filter-options')[0]

        if(books_filter_container.classList.contains('book-filter-options-active')){
                books_filter_container.classList.remove('book-filter-options-active')
        } else {
            books_filter_container.classList.add('book-filter-options-active')
        }
    }
</script>